# V.ANSHEE Core - Variables de configuración del entorno
DEBUG=True
LLM_PROVIDER=ollama
OLLAMA_MODEL=llama3.2
OPENAI_API_KEY=

# Servidor Web & Audio
WEB_HOST=127.0.0.1
WEB_PORT=8000
WAKE_WORD=v_anshee
WAKE_WORD_ENABLED=True
TTS_ENGINE=edge-tts
TTS_VOICE=es-ES-ElviraNeural
